<div class="container">

    <app-loading-spinner [isLoading]="daveningService.loading()"></app-loading-spinner>

        <div class="row">
            <h3 class="text-center">Admin Login</h3>
            <div class="col-4"></div>
            <!--centering form horizontally-->
            <div class="col-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin-top: 25%;">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" formControlName="email" class="form-control">
                        <span *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
                            class="help-block">Please enter a valid email</span>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" formControlName="password" class="form-control">
                        <span span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"
                            class="help-block">Password is required</span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="padded-btn btn btn-success" [disabled]="!loginForm.valid">Login</button>
                    </div>

                </form>
            </div>    </div>
</div>