button {
    margin-left: 10px;
}

a, button {
    font-size: 20px;
}

.container {
    max-width: 100%;  /*In case width is small and form controls are stacking*/
}

#guestEmail {
    font-size: 30px;
    font-weight: bold;
}

::placeholder {
    color: lightgray;
  }