<div class="container">
    <form [formGroup]="guestEmailForm">
        <div class="row" style="margin-top: 15px;">
            <div class="col-2">
                <label for="newEmail">My Email: </label>
            </div>

            <!-- If user wants to update the email, allow -->
            <span *ngIf="emailInEditing" style="display: contents;">
                <div class="col-6 ">
                    <input id="newEmail" type="text" class="form-control" formControlName="emailInput"
                        placeholder="A valid email is required">
                </div>
                <div class="col-1">
                    <button (click)="onSaveEmail(guestEmailForm.get('emailInput')?.value)"
                        class="btn btn-success form-control"
                        [disabled]="guestEmailForm.get('emailInput')?.invalid">Ok</button>
                </div>
            </span>

            <!-- show the guest email saved in Service -->
            <span *ngIf="!emailInEditing" style="display: contents;">
                <div class="col-6 text-center" id="guestEmail">
                    {{emailInHeader()}}
                </div>
                <div class="col-1">
                    <button class="btn btn-info" (click)="onChangeEmail()">Edit</button>
                </div>
            </span>

            <div class="col-2 offset-1 text-right" *ngIf="!emailInEditing && guestService.guestEmail()">
                <div class="dropdown" appDropdown>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">Menu
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <!--It is necessary to clear messages in every ngOnInit (to cover any new entry) and every router link (if it is clicked within itself and not re-entered through ngOnInit)-->
                        <li style="place-self: center"><a style="cursor:pointer;" routerLinkActive="active" routerLink="names"
                                click="guestService.clearMessages(); $event.preventDefault();">Manage
                                names</a></li>
                        <li style="place-self: center"><a style="cursor:pointer;" routerLinkActive="active" routerLink="new"
                                click="guestService.clearMessages(); $event.preventDefault();">Submit a name</a></li>
                        <!--
                            <li><a style="cursor:pointer;" routerLinkActive="active" routerLink="settings">My settings</a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>