<div class="container">
    <div *ngIf="adminService.loading" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
    </div>

    <div *ngIf="!adminService.loading">
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
            <div class="form-group first-div row">
                <div class="col-6 offset-2">
                    <h4>Admin's email: {{adminService.adminSettings.email}} </h4>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6 offset-2 form-check">
                    <input type="checkbox" [(ngModel)]="prompt" [ngModelOptions]="{standalone: true}" class="form-check-input" id="prompt">
                    <label class="form-check-label text-center">Receive new name notifications</label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6 offset-2">
                    <span class="wait-label">How many days should we wait before deleting a name?</span>
                    <input type="number" [(ngModel)]="wait" [ngModelOptions]="{standalone: true}" class="form-control input-number" id="wait">
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-success btn-lg">Save</button>
                    <button type="button" class="btn btn-danger btn-lg" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>