button {
    margin-top: 30px;
}

label, input {
    font-size: x-large;
}

.even-width {
    width: 300px;
}

/* Make app-guest-email 70% width on large screens and center it */
.container {
    margin: 0 auto;
}