.give-space {
    margin-right: 5px
}

.row {
    margin-bottom: 10px;
}

.set-width {
    width: 205px;
}

select {
    margin-bottom: 10px;
}

.emphasized {
    border-style: inset;
    border-color: var(--dark-background-color);
    border-width: 2px;
}

.div-names {
    max-height: 320px;
    overflow: auto;
}

.same-line {
    display: inline-block !important;
    margin-top: 0px;
}

.container {
    margin-top: 15px;
}

.admin-pass {
    width: fit-content;
}

.password-span {
    margin-left: 50px;
}

.cancel-pass {
    margin-left: 20px;
}

.password-div input, 
.password-div button {
  margin: 10px;
}

button {
    font-size: 20px;
    margin: 5px;
}