.form-horizontal {
    margin: 3em;
}

.form-control, .form-select{
    margin: 7px;
}

.help-block,.alert-option {
    color: red;
    margin-bottom: 0px;
    padding-top: 12px;
}

.text-right {
    float: right;
}

select {
    text-align-last: center;
}

.btn-success {
    width: 200px;
    text-align: center;
}

.col-3{
    padding-right: 15px;
}

