.container { text-align: center; margin-top: 50px; }

button {margin: 20px;}

body{
    display: flex;
    flex-direction: column; /* Stack elements vertically */

	align-items: center;
	min-height: 100vh;
    width: 100vw;
	margin: 0;
	padding: 0;	
    font-family: Arial, sans-serif;
	text-align: center;
	background-color: #f4f4f9;
	justify-content: center;
}

.spinner {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
	background: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
    width: 100%; 
}

.response {
    margin-top: 50px;
}

h1 {
	color: #333;
}

p {
	color: #666;
}