<form class="form-horizontal" [formGroup]="nameForm" (ngSubmit)="onSubmit()">

    <app-loading-spinner [isLoading]="(daveningService.loading$ | async) ?? false"></app-loading-spinner>

    <div class="form-group">
            <div class="col-6 offset-md-2">
                <h5>Fields marked with (*) are required.</h5>
            </div>
        </div>

        <div class="form-group row">
            <div>
                <div class="col-4 input-box">
                    <label for="userEmail">* Submitter's email</label>
                    <input type="text" id="userEmail" class="form-control" placeholder="Email to receive notifications"
                        formControlName="userEmail">
                </div>
                <div class="col-4">
                    <span class="help-block"
                        *ngIf="nameForm.get('userEmail')?.touched && !nameForm.get('userEmail')?.valid">
                        <span *ngIf="nameForm.get('userEmail')?.errors?.['required']">Submitter Email is required</span>
                        <span *ngIf="nameForm.get('userEmail')?.errors?.['email']">Please enter a valid email</span>
                    </span>
                </div>
            </div>
        </div>

        <!--English name-->

        <div formGroupName="name">
            <div class="form-group row">
                <!--Validation for name1English-->
                <div class="col-2 help-block">
                    <span *ngIf="!nameForm.get('name.english1')?.valid && nameForm.get('name.english1')?.touched"
                        class="help-block">
                        <span class="text-right" *ngIf="nameForm.get('name.english1')?.errors?.['pattern']">English
                            letters (spaces allowed)</span>
                        <span class="text-right" *ngIf="nameForm.get('name.english1')?.errors?.['required']">This field
                            is
                            required</span>
                    </span>
                </div>

                <div class="col-3">
                    <input type="text" id="name1English" class="form-control" formControlName="english1"
                        placeholder="* Name">
                </div>

                <div class="col-2">
                    <select formControlName="benBat" class="form-control ">
                        <option>ben</option>
                        <option>bat</option>
                    </select>
                </div>

                <div class="col-3">
                    <input type="text" id="name2English" class="form-control" formControlName="english2"
                        placeholder="* Mother's Name">
                </div>

                <!--Validation for name2English-->
                <div class="col-2 help-block">
                    <span *ngIf="!nameForm.get('name.english2')?.valid && nameForm.get('name.english2')?.touched"
                        class="help-block">
                        <span *ngIf="nameForm.get('name.english2')?.errors?.['pattern']">English letters (spaces
                            allowed)</span>
                        <span *ngIf="nameForm.get('name.english2')?.errors?.['required']">This field is required</span>
                    </span>
                </div>

            </div>
            <!--English name-->

            <!--Hebrew name-->
            <div class="form-group row">

                <!--Validation-->
                <div class="col-2 help-block">
                    <span *ngIf="!nameForm.get('name.hebrew2')?.valid && nameForm.get('name.hebrew2')?.touched"
                        class="help-block">
                        <span class="text-right" *ngIf="nameForm.get('name.hebrew2')?.errors?.['pattern']">Hebrew
                            letters (spaces allowed)</span>
                        <span class="text-right" *ngIf="nameForm.get('name.hebrew2')?.errors?.['required']">This field
                            is
                            required</span>
                    </span>
                </div>

                <div class="col-3">
                    <input type="text" id="name2Hebrew" class="form-control" formControlName="hebrew2"
                        placeholder="* שם האם">
                </div>

                <div class="col-2 center-select">
                    <select formControlName="benBatHebrew" class="form-control">
                        <option>בן</option>
                        <option>בת</option>
                    </select>
                </div>

                <div class="col-3">
                    <input type="text" id="name1Hebrew" class="form-control" formControlName="hebrew1"
                        placeholder="* שם">
                </div>

                <!--Validation-->
                <div class="col-2 help-block">
                    <span *ngIf="!nameForm.get('name.hebrew1')?.valid && nameForm.get('name.hebrew1')?.touched"
                        class="help-block">
                        <span *ngIf="nameForm.get('name.hebrew1')?.errors?.['pattern']">Hebrew letters (spaces
                            allowed)</span>
                        <span *ngIf="nameForm.get('name.hebrew1')?.errors?.['required']">This field is required</span>
                    </span>
                </div>

            </div>
            <!--Hebrew name-->

        </div>
        <div formGroupName="spouse">

            <div *ngIf="checkBanim()">
                <!--- -Then need also spouse details-->

                <!--Spouse English name-->
                <div class="form-group row">

                    <!--Validation for spouseName1English-->
                    <div class="col-2 help-block">
                        <!--Validation: must include only English letters and spaces -->
                        <span
                            *ngIf="!nameForm.get('spouse.english1')?.valid && nameForm.get('spouse.english1')?.touched"
                            class="help-block">
                            <span class="text-right"
                                *ngIf="nameForm.get('spouse.english1')?.errors?.['pattern']">English letters (spaces
                                allowed)</span>
                        </span>
                        <!--Validation: If user entered only part of spouse's English name-->
                        <span *ngIf="spouseEnglishError" class="help-block">
                            <span>Please complete spouse English name</span>
                        </span>
                    </div>

                    <div class="col-3">
                        <input (blur)="checkSpouseEnglish()" type="text" id="spouseName1English" class="form-control"
                            formControlName="english1" placeholder="Spouse name (optional)">
                    </div>

                    <div class="col-2 text-center">
                        <span class="form-control-static">ben</span>
                    </div>

                    <div class="col-3">
                        <input (blur)="checkSpouseEnglish()" type="text" id="spouseName2English" class="form-control"
                            formControlName="english2" placeholder="Spouse mother's name (optional)">
                    </div>

                    <!--Validation for spouseName2English-->
                    <div class="col-2 help-block">
                        <!--Validation: must include only English letters and spaces -->
                        <span
                            *ngIf="!nameForm.get('spouse.english2')?.valid && nameForm.get('spouse.english2')?.touched"
                            class="help-block">
                            <span *ngIf="nameForm.get('spouse.english2')?.errors?.['pattern']">English letters and
                                spaces</span>
                        </span>
                    </div>

                </div>
                <!--Spouse English name-->

                <!--Spouse Hebrew name-->
                <div class="form-group row">

                    <!--Validation for spouseName2Hebrew-->
                    <div class="col-2 help-block">
                        <span *ngIf="!nameForm.get('spouse.hebrew2')?.valid && nameForm.get('spouse.hebrew2')?.touched"
                            class="help-block">
                            <span class="text-right" *ngIf="nameForm.get('spouse.hebrew2')?.errors?.['pattern']">Hebrew
                                letters (spaces allowed)</span>
                        </span>
                        <!--Validation: If user entered only part of spouse's Hebrew name-->
                        <span *ngIf="spouseHebrewError" class="help-block">
                            <span>Please complete spouse Hebrew name</span>
                        </span>
                    </div>

                    <div class="col-3">
                        <input (blur)="checkSpouseHebrew()" type="text" id="spouseName2Hebrew" class="form-control"
                            formControlName="hebrew2" placeholder=" (אופציונלי) שם האם - של בן הזוג">
                    </div>

                    <div class="col-2 text-center">
                        <span class="form-control-static">בן</span>
                    </div>

                    <div class="col-3">
                        <input (blur)="checkSpouseHebrew()" type="text" id="spouseName1Hebrew" class="form-control"
                            formControlName="hebrew1" placeholder="(אופציונלי) שם בן הזוג">
                    </div>

                    <!--Validation for spouseName1Hebrew-->
                    <div class="col-2 help-block">
                        <span *ngIf="!nameForm.get('spouse.hebrew1')?.valid && nameForm.get('spouse.hebrew1')?.touched"
                            class="help-block">
                            <span *ngIf="nameForm.get('spouse.hebrew1')?.errors?.['pattern']">Hebrew letters and
                                spaces</span>
                        </span>
                    </div>

                </div>
                <!--Spouse Hebrew name-->
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-2"></div>
            <div class="col-5 form-check" hidden>
                <input style="margin: 5px" type="checkbox" class="form-check-input" id="submitterToReceive"
                    formControlName="submitterToReceive">
                <label class="form-check-label text-center" for="submitterToReceive">Include this name (when
                    appropriate) submitter's
                    davening
                    list</label>
            </div>

            <div class="col-1">
                <label for="category">* Category:</label>
            </div>
            <div class="col-2 ">
                <select formControlName="category" class="form-control" id="category">
                    <option value="">Select category</option>
                    <!-- value of default option is empty to make selection of it invalid (Validators.Required)-->
                    <option *ngFor="let category of categories" [value]="category">{{category | viewCategory}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2 offset-md-4 text-center">
                <button type="button" class="btn btn-danger btn-lg" (click)="cancel()">Cancel</button>
            </div>
            <div class="col-2 text-center">
                <button class="btn btn-success btn-lg" type="submit"
                    [disabled]="nameForm.invalid||spouseEnglishError||spouseHebrewError">Add Name</button>
            </div>
        </div>
</form>