<form class="form-horizontal" [formGroup]="nameForm" (ngSubmit)="onSubmit()">

    <app-loading-spinner [isLoading]="(daveningService.loading$ | async) ?? false"></app-loading-spinner>

        <div class="form-group">
            <div class="col-6 offset-md-2">
                <h5>Fields marked with (*) are required.</h5>
            </div>
            <div class="col-md-2 offset-md-2">
                <button type="button" class="btn btn-danger btn-md" (click)="cancel()">Cancel</button>
            </div>
        </div>

        <div class="form-group row">
            <div>
                <div class="col-4 input-box">
                    <label for="userEmail">* Submitter's email</label>
                    <input type="text" id="userEmail" class="form-control" placeholder="Email to receive notifications"
                        formControlName="userEmail">
                </div>
                <div class="col-4">
                    <span class="help-block"
                        *ngIf="nameForm.get('userEmail')?.touched && !nameForm.get('userEmail')?.valid">
                        <span *ngIf="nameForm.get('userEmail')?.errors?.['required']">Submitter Email is required</span>
                        <span *ngIf="nameForm.get('userEmail')?.errors?.['email']">Please enter a valid email</span>
                    </span>
                </div>
            </div>
        </div>

        <!--English name-->
        <div class="form-group row">
            <div>
                <div class="col-4 input-box">
                    <label for="english">* Full Name </label>
                    <input type="text" id="english" class="form-control" formControlName="english">
                </div>
                <div class="col-4 help-block">
                    <span *ngIf="!nameForm.get('english')?.valid && nameForm.get('english')?.touched"
                        class="help-block">
                        <span *ngIf="nameForm.get('english')?.errors?.['pattern']">Invalid characters</span>
                        <span *ngIf="nameForm.get('english')?.errors?.['required']">This field is
                            required</span>
                    </span>
                </div>
            </div>

            <!--Spouse English name-->
            <div *ngIf="nameForm.get('category')?.value=='banim'">
                <div class="col-4 input-box">
                    <label for="spouseEnglish">Optional: Spouse name</label>
                    <input type="text" id="spouseEnglish" class="form-control" formControlName="spouseEnglish">
                </div>
                <div class="col-4 help-block">
                    <span *ngIf="!nameForm.get('spouseEnglish')?.valid && nameForm.get('spouseEnglish')?.touched"
                        class="help-block">
                        <span *ngIf="nameForm.get('spouseEnglish')?.errors?.['pattern']">Invalid characters</span>
                    </span>
                </div>
            </div>
        </div>

        <!--Hebrew name-->
        <div class="form-group row">
            <div>
                <div class="col-4 input-box">
                    <label for="hebrew">* שם בעברית </label>
                    <input type="text" id="hebrew" class="form-control" formControlName="hebrew">
                </div>
                <!--Validation-->
                <div class="col-4 help-block">
                    <span *ngIf="!nameForm.get('hebrew')?.valid && nameForm.get('hebrew')?.touched" class="help-block">
                        <span *ngIf="nameForm.get('hebrew')?.errors?.['pattern']">Invalid characters</span>
                        <span *ngIf="nameForm.get('hebrew')?.errors?.['required']">This field is
                            required</span>
                    </span>
                </div>
            </div>

            <!--Spouse Hebrew name-->
            <div *ngIf="nameForm.get('category')?.value=='banim'">
                <div class="col-4 input-box">
                    <label for="spouseHebrew">Optional: שם בן הזוג בעברית </label>
                    <input type="text" id="spouseHebrew" class="form-control" formControlName="spouseHebrew">
                </div>
                <div class="col-4 help-block">
                    <span *ngIf="!nameForm.get('spouseHebrew')?.valid && nameForm.get('spouseHebrew')?.touched"
                        class="help-block">
                        <span *ngIf="nameForm.get('spouseHebrew')?.errors?.['pattern']">Invalid characters</span>
                    </span>
                </div>
            </div>
        </div>

        <br>

        <div class="form-group row">
            <div class="col-1"></div>
            <div class="col-6 form-check" hidden>
                <input type="checkbox" class="form-check-input checkbox" id="submitterToReceive"
                    formControlName="submitterToReceive">
                <label class="form-check-label text-center" for="submitterToReceive">Include this name (when
                    appropriate) in submitter's
                    davening
                    list</label>
            </div>

            <div class="col-1">
                <label for="category">* Category:</label>
            </div>
            <div class="col-2 ">
                <select formControlName="category" class="form-control" id="category">
                    <option value="">* Select category</option>
                    <!-- value of default option is empty to make selection of it invalid (Validators.Required)-->
                    <option *ngFor="let category of categories" [value]="category">{{category | viewCategory}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-12 text-center">
                <button class="btn btn-success btn-lg" type="submit" [disabled]="nameForm.invalid">Edit Name</button>
            </div>
        </div>
    </form>