.form-horizontal {
    margin: 3em;
}

.help-block,.alert-option {
    color: red;
    margin-bottom: 0px;
}

.text-right {
    float: right;
}

select {
    text-align-last: center;
}

.input-box{
    width: 300px;
}

.form-control{
    font-weight: 500;
}

label {
    margin-top: 15px;
}