button{
    background-color:var(--dark-background-color);
    width: 100%;
 }


.list-group-item{
    border:0px;
    background-color: transparent;
}

.list-group-item.active{
    background-color: transparent;
    color:white;

}

@media (max-width: 768px) {
    .btn-responsive {

      padding:2px 4px;
      font-size:80%;
      line-height: 1.5;
    }
  }
  
  @media (min-width: 769px){
    .btn-responsive {
      padding:4px 9px;
      font-size:90%;
      line-height: 2;
    }
  }

