button{
    background-color:var(--light-background-color);
    width: 100%;
 }

 .btn:hover {
    background-color: var(--lightest-background-color);
    border-color: 2 px solid black;
 }

 .list-group-item{
    border:0px;
    background-color: transparent;
}

.list-group-item.active .active-btn{
    background-color: var(--light-background-color) !important;
    color:black;
    border: 2px solid black;
    border-width: 2px;
}

@media (max-width: 768px) {
    .btn-responsive {

      padding:2px 4px;
      font-size:80%;
      line-height: 1.5;
    }
  }
  
  @media (min-width: 769px){
    .btn-responsive {
      padding:4px 9px;
      font-size:90%;
      line-height: 2;
    }
  }

