<form class="form-horizontal" [formGroup]="nameForm" (ngSubmit)="onSubmit()">

    <app-loading-spinner [isLoading]="daveningService.loading()"></app-loading-spinner>

    <div class="form-group">
        <div class="col-6 offset-md-2">
            <h5>Fields marked with (*) are required.</h5>
        </div>
    </div>

    <div *ngIf="parentComp == 'urgent' || parentComp == 'admin'" class="form-group row align-items-end">

        <div *ngIf="parentComp == 'urgent'" class="col-4 offset-md-2 form-check">
            <input style="margin: 5px" type="checkbox" class="form-check-input" id="addToWeekly"
                formControlName="addToWeekly" [checked]="false">
            <label class="form-check-label text-center" for="addToWeekly">Add this name to weekly list as well</label>
        </div>

        <span *ngIf="parentComp == 'admin' || (parentComp == 'urgent' && nameForm.get('addToWeekly')?.value)">
            <div class="col-4">
                <label for="userEmail">* Submitter's email</label>
                <input type="text" id="userEmail" class="form-control" placeholder="Email to receive notifications"
                    formControlName="userEmail">
            </div>
            <div class="col-4 help-block">
                <span *ngIf="nameForm.get('userEmail')?.touched">
                    <span
                        *ngIf="nameForm.get('userEmail')?.errors?.['required'] && nameForm.get('userEmail')?.touched">Submitter
                        Email is required</span>
                    <span *ngIf="nameForm.get('userEmail')?.errors?.['email']">Please enter a valid email</span>
                </span>
            </div>
        </span>
    </div>

    <div *ngIf="partialNameError" class="row">
        <div class="col-6 offset-md-2">
            <span class="text-danger">Please complete name</span>
        </div>
        
    </div>

    <!--English name-->
    <div formGroupName="name">
        <div class="form-group row align-items-end">
            <!--Validation for name1English-->
            <div class="col-2 help-block">
                <span class="text-right" *ngIf="nameForm.get('name.english1')?.errors?.['pattern']">Invalid
                    characters</span>
            </div>

            <div class="col-3">
                <input type="text" id="name1English" class="form-control" formControlName="english1" (blur)="checkName()"
                    placeholder="Name">
            </div>

            <div class="col-1">
                <select formControlName="benBat" class="form-control ">
                    <option>ben</option>
                    <option>bat</option>
                </select>
            </div>

            <div class="col-3">
                <input type="text" id="name2English" class="form-control" formControlName="english2" (blur)="checkName()"
                    placeholder="Mother's Name">
            </div>

            <!--Validation for name2English-->
            <div class="col-2 help-block">
                <span *ngIf="nameForm.get('name.english2')?.errors?.['pattern']">Invalid characters</span>
            </div>
        </div>
        <!--English name-->

        <!--Hebrew name-->
        <div class="form-group row align-items-end">

            <!--Validation-->
            <div class="col-2 help-block">
                <span class="text-right" *ngIf="nameForm.get('name.hebrew2')?.errors?.['pattern']">Invalid
                    characters</span>
            </div>

            <div class="col-3">
                <input type="text" id="name2Hebrew" class="form-control" formControlName="hebrew2" (blur)="checkName()"
                    placeholder="שם האם">
            </div>

            <div class="col-1 center-select">
                <select formControlName="benBatHebrew" class="form-control">
                    <option>בן</option>
                    <option>בת</option>
                </select>
            </div>

            <div class="col-3">
                <input type="text" id="name1Hebrew" class="form-control" formControlName="hebrew1" (blur)="checkName()" placeholder="שם">
            </div>

            <!--Validation-->
            <div class="col-2 help-block">
                <span *ngIf="nameForm.get('name.hebrew1')?.errors?.['pattern']">Invalid characters</span>
            </div>

        </div>
        <!--Hebrew name-->

    </div>
    <div formGroupName="spouse">

        <div *ngIf="nameForm.get('category')?.value=='banim'">
            <!--- -Then need also spouse details-->
            <br>
            <h6 class="offset-2" [ngStyle]="{ color: spouseError ? 'red' : 'black' }"> Please enter spouse's full name
                (English and/or Hebrew)</h6>
            <!--Spouse English name-->
            <div class="form-group row align-items-end">

                <!--Validation for spouseName1English-->
                <div class="col-2 help-block">
                    <!--Validation: must include only English letters and spaces -->
                    <span *ngIf="!nameForm.get('spouse.english1')?.valid && nameForm.get('spouse.english1')?.touched"
                        class="help-block">
                        <span class="text-right" *ngIf="nameForm.get('spouse.english1')?.errors?.['pattern']">Invalid
                            characters</span>
                    </span>
                    <!--Validation: If user entered only part of spouse's English name-->
                    <!--This will only appear if there are no invalid characters.  No need to overload erros -->
                    <span *ngIf="spouseEnglishError && !nameForm.get('spouse.english1')?.errors?.['pattern'] "
                        class="help-block">
                        <span>Please complete spouse name</span>
                    </span>
                </div>

                <div class="col-3">
                    <input (keyup)="checkSpouse()" type="text" id="spouseName1English" class="form-control"
                        formControlName="english1" placeholder="Spouse name">
                </div>

                <div class="col-1 text-center">
                    <span class="form-control-static">ben</span>
                </div>

                <div class="col-3">
                    <input (keyup)="checkSpouse()" type="text" id="spouseName2English" class="form-control"
                        formControlName="english2" placeholder="Spouse mother's name">
                </div>

                <!--Validation for spouseName2English-->
                <div class="col-2 help-block">
                    <!--Validation: must include only English letters and spaces -->
                    <span *ngIf="!nameForm.get('spouse.english2')?.valid && nameForm.get('spouse.english2')?.touched"
                        class="help-block">
                        <span *ngIf="nameForm.get('spouse.english2')?.errors?.['pattern']">Invalid characters</span>
                    </span>
                </div>

            </div>
            <!--Spouse English name-->

            <!--Spouse Hebrew name-->
            <div class="form-group row align-items-end">

                <!--Validation for spouseName2Hebrew-->
                <div class="col-2 help-block">
                    <span *ngIf="!nameForm.get('spouse.hebrew2')?.valid && nameForm.get('spouse.hebrew2')?.touched"
                        class="help-block">
                        <span class="text-right" *ngIf="nameForm.get('spouse.hebrew2')?.errors?.['pattern']">Invalid
                            characters</span>
                    </span>
                    <!--Validation: If user entered only part of spouse's English name-->
                    <span *ngIf="spouseHebrewError && !nameForm.get('spouse.hebrew2')?.errors?.['pattern']"
                        class="help-block">
                        <span>Please complete spouse name</span>
                    </span>
                </div>

                <div class="col-3">
                    <input (keyup)="checkSpouse()" type="text" id="spouseName2Hebrew" class="form-control"
                        formControlName="hebrew2" placeholder="שם האם - של בן הזוג">
                </div>

                <div class="col-1 text-center">
                    <span class="form-control-static">בן</span>
                </div>

                <div class="col-3">
                    <input (keyup)="checkSpouse()" type="text" id="spouseName1Hebrew" class="form-control"
                        formControlName="hebrew1" placeholder="שם בן הזוג">
                </div>

                <!--Validation for spouseName1Hebrew-->
                <div class="col-2 help-block">
                    <span *ngIf="!nameForm.get('spouse.hebrew1')?.valid && nameForm.get('spouse.hebrew1')?.touched"
                        class="help-block">
                        <span *ngIf="nameForm.get('spouse.hebrew1')?.errors?.['pattern']">Invalid characters</span>
                    </span>
                </div>

            </div>
            <!--Spouse Hebrew name-->
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-5 form-check" hidden>
            <input style="margin: 5px" type="checkbox" class="form-check-input" id="submitterToReceive"
                formControlName="submitterToReceive">
            <label class="form-check-label text-center" for="submitterToReceive">Include this name (when
                appropriate) submitter's
                davening
                list</label>
        </div>

        <div class="col-2">
            <label for="category">* Category:</label>
        </div>
        <div class="col-3">
            <select formControlName="category" class="form-control" id="category"
                [ngStyle]="{ color: nameForm.get('category')?.value === '' ? 'red' : 'black' }" required>
                <option value="" disabled>Select category</option>
                <!-- value of default option is empty to make selection of it invalid (Validators.Required)-->
                <option *ngFor="let category of categories" style="color:black" [value]="category">{{category |
                    viewCategory}}
                </option>
            </select>
        </div>
    </div>

    <div *ngIf="parentComp == 'urgent'" class="form-group row">
        <div class="col-5 offset-md-2">
            <textarea id="note" name="note" formControlName="note" style="width: 100%; "
                placeholder="Here you can explain why this name is urgent (optional)"></textarea>
        </div>
    </div>

    <div class="form-group buttons">
        <button class="btn btn-success btn-lg" type="submit"
            [disabled]="nameForm.get('name')?.invalid || (nameForm.get('spouse')?.invalid && nameForm.get('category')?.value === 'banim') || nameForm.get('category')?.invalid || nameForm.get('email')?.invalid">Submit
            Name</button>
        <span class="spacer"></span>
        <button type="button" class="btn btn-danger btn-lg" (click)="cancel()">Cancel</button>
    </div>
</form>