<form class="form-horizontal" [formGroup]="nameForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="col-md-2 offset-md-5">
            <h3>Edit</h3>
        </div>
        <div class="col-4">
            <h5>Fields marked with (*) are required.</h5>
        </div>
    </div>

    <!--English name-->
    <div class="form-group">

        <div class="col-3 input-box">
            <label for="english">* Full Name in English</label>
            <input type="text" id="english" class="form-control" formControlName="english">
        </div>

        <!--Validation for English name-->
        <div class="col-2 help-block">
            <span *ngIf="!nameForm.get('english')?.valid && nameForm.get('english')?.touched" class="help-block">
                <span *ngIf="nameForm.get('english')?.errors?.['pattern']">English letters and
                    spaces</span>
                <span *ngIf="nameForm.get('english')?.errors?.['required']">This field is
                    required</span>
            </span>
        </div>
    </div>

    <!--Hebrew name-->
    <div class="form-group ">

        <div class="col-3 input-box">
            <label for="hebrew">* שם בעברית </label>
            <input type="text" id="hebrew" class="form-control" formControlName="hebrew">
        </div>

        <!--Validation-->
        <div class="col-2 help-block">
            <span *ngIf="!nameForm.get('hebrew')?.valid && nameForm.get('hebrew')?.touched" class="help-block">
                <span *ngIf="nameForm.get('hebrew')?.errors?.['pattern']">Hebrew letters and
                    spaces</span>
                <span *ngIf="nameForm.get('hebrew')?.errors?.['required']">This field is
                    required</span>
            </span>
        </div>
    </div>

    <div *ngIf="nameForm.get('category')?.value=='banim'">

        <!--Spouse English name-->
        <div class="form-group ">

            <div class="col-3 input-box">
                <label for="spouseEnglish">Optional: Spouse name</label>
                <input type="text" id="spouseEnglish" class="form-control" formControlName="spouseEnglish">
            </div>

            <div class="col-2 help-block">
                <!--Validation: must include only English letters and spaces -->
                <span *ngIf="!nameForm.get('spouseEnglish')?.valid && nameForm.get('spouseEnglish')?.touched"
                    class="help-block">
                    <span *ngIf="nameForm.get('spouseEnglish')?.errors?.['pattern']">English letters (spaces allowed)</span>
                </span>
            </div>
        </div>

        <!--Spouse Hebrew name-->
        <div class="form-group">
            <div class="col-3 input-box">
                <label for="spouseHebrew">Optional: שם בן הזוג בעברית </label>
                <input type="text" id="spouseHebrew" class="form-control" formControlName="spouseHebrew">
            </div>
        </div>

        <div class="col-2 help-block">
            <span *ngIf="!nameForm.get('spouseHebrew')?.valid && nameForm.get('spouseHebrew')?.touched"
                class="help-block">
                <span *ngIf="nameForm.get('spouseHebrew')?.errors?.['pattern']">Hebrew
                    letters
                    and spaces</span>
            </span>
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="col-2"></div>
        <div class="col-5 form-check" hidden>
            <input type="checkbox" class="form-check-input checkbox" id="submitterToReceive"
                formControlName="submitterToReceive">
            <label class="form-check-label text-center" for="submitterToReceive">Include this name (when
                appropriate) in my davening list</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-1">
            <label for="category">* Category:</label>
        </div>
        <div class="col-2 ">
            <select formControlName="category" class="form-control" id="category">
                <option value="">* Select category</option>
                <!-- value of default option is empty to make selection of it invalid (Validators.Required)-->
                <option *ngFor="let category of categories" [value]="category">{{category | titlecase}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-danger btn-lg" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-success btn-lg" [disabled]="nameForm.invalid || (daveningService.loading$ | async)">
                <span [ngStyle]="{ visibility: (daveningService.loading$ | async) ? 'visible' : 'hidden' }"><app-loading-spinner-small></app-loading-spinner-small></span>
                Save Changes
                <!--this second one is to center the text exactly in the middle-->
                <span style="visibility: hidden"><app-loading-spinner-small></app-loading-spinner-small></span>
            </button>
        </div>
    </div>
</form>