.container {
  max-width: 700px;
  margin: 50px auto;
}

h2, h5{
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f0f0f0;
  padding: 12px;
  text-align: left;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.td-name {
  font-weight: bold;
  text-align: end;
}

td, .btn {
    font-size: 1.2rem;
}

.btn {
  padding: 6px 14px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}

.btn.confirm {
  background-color: #4caf50;
  color: white;
}

.btn.remove {
  background-color: #db0f27;
  color: white;
}

.btn.clicked {
  opacity: 0.6;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.status-message {
  font-weight: bold;
  color: #555;
}

tr.completed {
  background-color: #f5f5f5;
  color: #999;
}