.form-horizontal {
    margin: 3em;
}

.help-block, .alert-option {
    color: var(--my-red);
    margin-bottom: 0px;
}

.text-right {
    float: right;
}

select {
    text-align-last: center;
}

.row {
    margin-top: 25px;
}