td, th {
    text-align: center;
}

button {
    margin-right: 5px;
}

table {
    border-width: 0px;
    border-spacing: 0 1em;
    border-collapse: separate;
}

.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}

.div-names {
    max-height: 420px;
    /*TODO: see if can define in % and still maintain scrollability*/
    overflow: auto;
}

.row{
    margin-top: 10px; /* To give the 'Add Name' button some room */
}

