body {
    /*Scheme colors*/
    --dark-background-color: #93d314;
    --light-background-color:  #d9f89a;
    --red-color: #db0f27;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.list-group {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-title {
    display: inline-flex;
    text-align: center;
    font-size: 30px;
}

#footer {
    font-size: large;
    width: 100%;
    background-color: var(--dark-background-color);
}

#header {
    width: 100%;
    background-color: var(--dark-background-color);
}

.help-block, .red-font {
    color: var(--red-color);
}

.hidden-scrollbar {
    overflow: hidden;
}

.checkbox-margined{
    margin: 5px;
}