<app-loading-spinner [isLoading]="daveningService.loading()"></app-loading-spinner>

<div class="container" *ngIf="guestService.guestEmail()">
    <div class="text-center hidden-scrollbar"
        *ngIf="guestService.myDavenfors().length==0 && guestService.optionalGuest() == '' && !daveningService.loading() && daveningService.serverFine">
        <app-empty-list whatIsMissing="names associated with this email"></app-empty-list>
        <!--todo in future - with signals can tell it what to show if empty (find syntax)-->
    </div>

    <div *ngIf="davenforsExist()" class="table-div">

        <table class="table table-responsive table-div">
            <tr>
                <th>Category</th>
                <th>English Name</th>
                <th>Hebrew Name</th>
                <th></th>
            </tr>
            <tr *ngFor="let davenfor of guestService.myDavenfors(); let i = index">

                <td>{{davenfor.category | viewCategory}}</td>
                <td>
                    <!--English name, and spouse's English name if applicable-->
                    <span>{{davenfor.nameEnglish | titlecase}}</span>
                    <span
                        *ngIf="davenfor.category=='banim'&&davenfor.nameEnglishSpouse"><br>{{davenfor.nameEnglishSpouse}}</span>
                </td>
                <td>
                    <!--Hebrew name, and spouse's Hebrew name if applicable -->
                    <span>{{davenfor.nameHebrew}}</span>
                    <span
                        *ngIf="davenfor.category=='banim'&&davenfor.nameHebrewSpouse"><br>{{davenfor.nameHebrewSpouse}}</span>
                </td>
                <button class="btn btn-warning" (click)="onEdit(davenfor)">
                    Edit
                </button>
                <button class="btn btn-danger button-delete"
                    (click)="onDelete(i, davenfor)">
                    Delete
                </button>

        </table>
    </div>

    <div class="row" *ngIf="guestService.optionalGuest() == '' && !daveningService.loading()">
        <div class="col-12 text-center">
            <button class="btn btn-info btn-lg" (click)="onAddName()">+ Add Name</button>
        </div>
    </div>
</div>