<div class="container">
    <div class="text-center hidden-scrollbar" *ngIf="guestService.myDavenfors?.length==0 && !guestService.loading && daveningService.serverFine">
        <app-empty-list whatIsMissing="names associated with this email"></app-empty-list>
    </div>

    <div *ngIf="davenforsExist()" class="table-div">

        <table class="table table-responsive table-div">
            <tr>
                <th>Category</th>
                <th>English Name</th>
                <th>Hebrew Name</th>
                <th></th>
            </tr>
            <tr *ngFor="let davenfor of guestService.myDavenfors; let i = index">

                <td>{{davenfor.category | titlecase}}</td>
                <td>
                    <!--English name, and spouse's English name if applicable-->
                    <span>{{davenfor.nameEnglish | titlecase}}</span>
                    <span
                        *ngIf="davenfor.category=='banim'&&davenfor.nameEnglishSpouse"><br>{{davenfor.nameEnglishSpouse}}</span>
                </td>
                <td>
                    <!--Hebrew name, and spouse's Hebrew name if applicable -->
                    <span>{{davenfor.nameHebrew}}</span>
                    <span
                        *ngIf="davenfor.category=='banim'&&davenfor.nameHebrewSpouse"><br>{{davenfor.nameHebrewSpouse}}</span>
                </td>
                <button class="btn btn-warning" (click)="onEdit(davenfor)">
                    Edit
                </button>
                <button class="btn btn-danger button-delete" (click)="onDelete(i, davenfor.id??0, davenfor.nameEnglish??'')">
                    <span class="span-spinner" *ngIf="guestService.activeRow === i && guestService.loading"><app-loading-spinner-small></app-loading-spinner-small></span>
                    <span *ngIf="guestService.activeRow != i">Delete</span>
                </button>
        </table>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-info btn-lg" (click)="onAddName()">+ Add Name</button>
        </div>
    </div>
</div>