td, th {
    text-align: center;
}

button {
    margin-right: 5px;
    height: 45px;
}

table {
    border-width: 0px;
    border-spacing: 0 1em;
    border-collapse: separate;
}

.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}


.table-div{
    max-height: 350px;
    overflow: auto;
}

.span-spinner {
    padding: unset;
}

span{
    background-color: transparent !important;
}

.button-delete{
    width: 90px;
}

